[submodule "common"]
	path = common
	url = ../common-port
	branch = main
[submodule "base"]
	path = base
	url = ../android-port-base
	branch = main
[submodule "graphics"]
	path = graphics
	url = ../graphics-port
	branch = main
[submodule "imaging"]
	path = imaging
	url = ../imaging-port
	branch = main
